.mainAbout {
  background-image: url("../images/bgcontact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
}

.divAbout {
  margin: 1rem;
  padding: 2rem;
  /* background-color: rgba(63, 210, 137, 0.9); */
  /* border: 2px solid black; */
  border-radius: 20px;
  justify-content: center;
}

.titleAbout {
  
  font-size: calc(15px, 5vw, 30px);
  font-weight: 800;
  border-radius: 20px;
  
}

.textAbout {
  
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 1rem;
  
}

.teamAbout{
 
  color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: calc(15px, 5vw, 30px);
  font-weight: 800;
}

.containerTeamAbout{
  
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  align-content: center;
}

/* equipe */
.equipe{
  width: 200px;
  height: 200px;
}

.equipe:hover{
 
  padding: 8px;
 
}
.nameIndivdual4{
    

}

.imgIndiv{
  
 
  width: 150px;
 height: 150px;
}

.aSocial:link, .aSocial:visited {

  color: rgb(0, 0, 0);
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.aSocial:hover, .aSocial:active {
  background-color:#2e2f35;
}