.bgoutcontact{
    background-image: url("../images/bgcontact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.bg-contact{
background-color:rgb(245, 134, 95, 0.8);

}

.titlecontact{
    color: black;
	text-align: center;
	font-weight: bolder;
	font-size: 26px;
    text-transform: uppercase;

}

.bgformcontact{
    background-color: rgba(255, 255, 255, 0.9);
}

.error-message{
    color: red;
    z-index: 10px;
}
.btn-btn-success{
    background-color:rgb(245, 134, 95);
    border-radius: 8px;
    border: 2px solid black;
    
}