/*---------------------------Footer ---------------------------*/

footer {
  background-color:#f5865f;
  color: white;
  padding-top: 3%;

}

.link-home-footer {

  width: 20%;
}

.link-home-footer img {
  width: 150.33px;
}

footer a {
  color: white;
}

.pgimage {
  width: 80%;
}

.appicons{
  
  color: #f6f6f6;
}

.appimages {
  padding: 10px;
  width: 15%;
  justify-content: center;

  
}

.Footersuperior {
  display: flex;
  justify-content: space-around;

  padding-bottom: 3%;
  flex-wrap: wrap;
}

.Footersuperior h4 {
  margin-left: 20px;
}

.Footersuperior ul li {
  list-style: none;
  margin: 2px;
  letter-spacing: 1px;
  margin-left: -32px;
}

.footer-top-center {
  min-width: 20%;
}

.footer-top-center h4 {
  margin: 0;
}

.Footerinferior  {
  background-color: #2E2F35;
  color: #f6f6f6;
  text-align: center;
 padding: 10px 0px;
 
}

.pgimage {

  max-width: 30%;
}

.socialicons{
  width: 20%;
  padding: 0px  0px  20px 0px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.socialicons :hover{
    color: #2E2F35;
}

p{
  font-size: 20px;
  text-align: center;
}

