.book-detail {
  color: black;
  min-height: 700px;
}

.book-info-detail {
  margin: 0% 8% 5% 8%;
  padding: 5% 5%;
  width: 84%;
  display: flex;
  justify-content: space-around;
  color: gray;

}

.book-image-detail {
  width: 460px;
  height: 481px;
  background-size: cover;
  border-radius: 25px;
}

.book-data-detail {
  background-color: #f6f6f6;
  width: 80%;
  padding: 5% 5%;
  text-align: left;
  border-radius: 25px;
  color: #2E2F35;

}

.description-detail {
  margin: 5% 0;
}

.book-data-detail h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
  color: black;
  color: #2E2F35;
  
}
.book-data-detail h3 {
  background-color:  rgb(245, 134, 95, 0.15);
  border-radius: 25px;
}

.btn-detail {
  opacity: 0.7;
  margin-right: 1rem;
  background-color: #2E2F35;
  padding: 10px 20px;
  width: 50%;
  font-size: 1rem;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: 0;
}

.btn-detail:hover {
  background-color: #2E2F35;
  color: white;
  opacity: 1;
  transition: opacity 0.5s;
}

.qtn-book-detail {
  outline: 0;
  width: 70px;
  height: 44px;
  padding-left: 10px;
}


.loader-product {
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, green);
  animation: animar 2s linear infinite;

}

@keyframes animar {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0);
  }

  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader-product::before {
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}


.loader-product::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #040305;
  background: linear-gradient(45deg, transparent, transparent 40%, green);
  filter: blur(30px);
}
.nomeDasReceitas{
  background-color:  rgb(245, 134, 95, 0.5);
  border-radius: 25px;
}
.img1{
  width: 25px;
  padding-bottom:5px ;
 
 
 }